:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  // background-image: url('../assets/futuristic_bg2.jpg');
  // background-repeat: no-repeat;
  // background-size: cover;
  z-index: -1;
}

board {
  flex: 1;
  display: flex;
  align-items: center;
}

.footer {
  text-align: center;
}

.footer a {
  color: #FFF;
  font-size: 12px;
}


@media screen and (max-width: 800px) {
  :host {
    justify-content: initial;
  }

  board {
    align-items: initial;
  }
}

