# config files
.vscode

# build files
**/*.o
src/uci-engine*

# log/external files for semi-manual testing
src/tools/tournaments
src/tools/books
src/tools/engines

# vtune profile project files
src/chess-engine-vtune