#evaluation-bar {
  width: 100%;
  background-color: #fefefe;
  height: 100%;
  position: relative;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 100%);
  border-radius: 0 3px 3px 0;
}

.evaluation-description {
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  flex-direction: column;
  color: #444;
}

.eval {
  font-weight: 600;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom {
  margin-top: auto;
}

#black-bar {
  width: 100%;
  height: 50%;
  max-height: 100%;
  background-color: rgba(0, 0, 0, 0.98);
  transition: height 1s;
}
