:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url('../assets/futuristic_bg2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
