
$piece-types: 'br', 'bn', 'bb', 'bq', 'bk', 'bp', 'wr', 'wn', 'wb', 'wq', 'wk', 'wp';

@each $type in $piece-types {
  .#{$type} {background-image: url('../../../assets/pieces/#{$type}.png');}
}

.piece {
  position: absolute;
  top: 0;
  left: 0;
  width: 12.5%;
  height: 12.5%;
  background-size: cover;
  z-index: 2;
  will-change: transform;
}
