@function generate-shadows($size) {
  $val: 0 0px 0px transparent;
  @for $i from 1 through $size {
      $alpha: ($size - $i) / 40;
      $i: $i * 8;
      $val: #{$val}, rgba(240, 46, 170, $alpha) -#{$i}px #{$i}px;
  }
  @return $val;
}

@mixin futuristic-shadow($size) {
  box-shadow: generate-shadows($size);
}

.board-wrapper {
  display: flex;
}
#board {
  background-size: 100%;
  user-select: none;
  background-image: url('../../assets/chess_board.png');
  background-repeat: no-repeat;
  position: relative;
  border-radius: 3px;
  animation: rippling-shadow 2s ease-in-out infinite alternate;
}

@keyframes rippling-shadow {
  @for $i from 0 through 100 {
    @if $i % 10 == 0 {
      #{$i}% { @include futuristic-shadow($i / 10 + 5) }
    }
  }
}
