@function generate-shadows($size) {
  $val: 0 0px 0px transparent;
  @for $i from 1 through $size {
      $alpha: ($size - $i) / 40;
      $i: $i * 8;
      $val: #{$val}, rgba(240, 46, 170, $alpha) -#{$i}px #{$i}px;
  }
  @return $val;
}

@mixin futuristic-shadow($size) {
  box-shadow: generate-shadows($size);
}

.board-wrapper {
  display: flex;
}
#board {
  background-size: 100%;
  user-select: none;
  background-image: url('../../assets/chess_board.png');
  background-repeat: no-repeat;
  position: relative;
  border-radius: 3px;
  animation: rippling-shadow 2s ease-in-out infinite alternate;
}
.ranks {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: 4px;
  font-size: 1.2rem;
  font-weight: 600;

  :nth-child(odd) {
    color: #b58863;
  }

  :nth-child(even) {
    color: #f0d9b5;
  }

  .rank {
    flex: 1;
  }
}

.files {
  display: flex;
  margin-top: -2.8%;
  gap: 11.4%;
  padding-left: -10%;
  padding-left: 4px;
  font-size: 1.2rem;
  font-weight: 600;
  color: rgba(0,0,0,0.4);
  width: 100%;
  box-sizing: border-box;

  :nth-child(odd) {
    color: #f0d9b5;
  }

  :nth-child(even) {
    color: #b58863;
  }
}

@keyframes rippling-shadow {
  @for $i from 0 through 100 {
    @if $i % 10 == 0 {
      #{$i}% { @include futuristic-shadow($i / 10 + 5) }
    }
  }
}
